<div class="row">
  <div class="col-md-10" style="margin-bottom: 10px;">This page allows administration of files
  and can run commands in order to create generated FI-WARE deliverables. Please
  use the Links provided in order to invoke tasks Please bear in mind, this page
  asks no questions, if you press a button, it will get executed.</div>
  <div class="col-md-2">
      <p class="text-right"><i class="fa fa-user"></i> You are logged as <i>{{currentUser}}</i>
      <!--<button type="submit" style="background: #aaFFaa" ng-click="logout()" class="btn btn-default">Log out</button>-->
      <a id="link-1" href ng-click="logout()">( log out )</a>
      </p>
  </div>
</div>

<div class="row">
  <div class="col-md-5">
    <!--  <div style="height: 600px; background-color: #00AAFF"> -->
    <div class="panel panel-default panel-primary">
    <div class="panel-heading">Wiki</div>
      <div class="panel-body">
        <div>
          <tabset>
              <tab heading="Generate deliverable">
              <form name="myForm" class="form-horizontal" style="margin-top: 5px">
               <input type="hidden" name="username" ng-value="currentUser" />
               <div class="form-group">
                  <label for="lprojects" class="col-sm-4 control-label">
                      Project</label>
                  <div class="col-sm-8">
                    <select name="dproject" ng-model="deliver.project" ng-change="select_project()" class="form-control">
                      <option ng-repeat="(key, data) in projects">{{key}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="ndeliver" class="col-sm-4 control-label">
                      Page name</label>
                  <div class="col-sm-8">
                      <input type="text" class="form-control" name="page" ng-model="deliver.page" /><br />
                  </div>
                  <!--<div role="alert">
                      <span class="error" ng-show="myForm.page.$error.required">
                          Required!</span>
                  </div>-->
                <!--</div>-->
                <div class="col-sm-4"></div>
                <div class="col-sm-8">
                    <div ng-controller="ModalDemoCtrl">
                    <script type="text/ng-template" id="myModalContent.html">
                            <div class="modal-header">
                                <h3 class="modal-title">Tips to fulfill the form</h3>
                            </div>
                            <div class="modal-body">
                                <center><img src="img/1stfield.png"></img></center>
                                <br/>
                                <p>The field <strong>Project</strong> identifies the wiki name where the initial page is.</p>

                                <p>In our example, for the URL below the wiki name is: <i>fiware</i>
                                https://forge.fiware.org/plugins/mediawiki/wiki/<strong>fiware</strong>/index.php/D.6.4.3_User_and_Programmers_Guide_front_page
                                </p>
                                <br/>
                                <hr/>
                                <br/>
                                <center><img src="img/2ndfield.png"></img></center>
                                <br/>
                                <p>The parameter <strong>Page name</strong> is the end of the URL where the cover is located</p>

                                <p>In our example, for the URL below the page name is: <i>D.6.4.3_User_and_Programmers_Guide_front_page</i>
                                https://forge.fiware.org/plugins/mediawiki/wiki/fiware/index.php/<strong>D.6.4.3_User_and_Programmers_Guide_front_page</strong>
                                </p>

                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
                            </div>
                        </script>

                        <p>Do you need <a href="index.html#/deliverables" ng-click="open('lg')">some help?</a></p>
                        <!--<span type="button" class="btn btn-default" ng-click="open('lg')">Large modal</span>-->
                    </div>

                </div></div>
                 <div class="form-group">
                  <div class="col-sm-offset-4 col-sm-8">
                    <button type="submit" style="background: #aaFFaa" ng-click="deliver_me()" class="btn btn-default">Generate deliverable</button>
                  </div>
                </div>
                </form>
                <div data-ng-show="progress_deliver>0">
                  <progressbar class="progress-striped" animate="true"
                    max="100" value="progress_deliver" type="info">
                  </progressbar>
              </div>
              </tab>
              <!--<tab heading="Copy page"></tab>-->
          </tabset>

        </div>
      </div>

      </div>

      <div class="row">
        <div data-ng-show="error != '' && error != undefined"
          class="alert alert-danger alert-dismissable col-sm-12">
          <button type="button" class="close" data-ng-click="error = undefined"
            aria-hidden="true">&times;</button>
          <strong>Can not generate the deliverable: {{error}}.</strong>
        </div>
        <div data-ng-show="error == ''"
          class="alert alert-success alert-dismissable col-sm-12">
          <button type="button" class="close" data-ng-click="error = undefined"
            aria-hidden="true">&times;</button>
          <strong>Deliverable generated: <a href="{{deliverable_url_index}}"> {{deliver.page}} </a></strong>
        </div>
      </div>

  </div>
  <div class="col-md-7">
    <div class="panel panel-default panel-primary">
        <div class="panel-heading">Last deliverables generated</div>
        <div class="panel-body">
            <ul ng-controller="MyCtrl">
                <li ng-repeat="l in data.entries| orderBy:'-time'|limitTo:15">
                    <a href="https://forge.fiware.org/plugins/mediawiki/wiki/{{l.project}}/index.php/{{l.page}}">{{l.page}}</a>&nbsp;
                    <a href="/dtoaster/deliverables/{{l.wp}}/{{l.time}}/{{l.page}}.zip"><i class="fa fa-file-archive-o"></i>(.zip)</a>&nbsp;
                        <a href="/dtoaster/deliverables/{{l.wp}}/{{l.time}}/{{l.page}}.html"><i class="fa fa-file-text-o"></i>(.html)</a> ({{l.project}}) by {{l.user}} on {{l.prettytime}}
                </li>
            </ul>
        </div>
    </div>

    <h4>Deliverables listing</h4>
    <div style="height: 400px; background-color: #88FFFF">
        <iframe style="width:100%; height:100%" id="deliverables_explorer" src="https://forge.fiware.org/dtoaster/deliverables/"></iframe>
    </div>
  </div>
</div>
